torch==2.2.2
transformers==4.35.2
pandas==2.1.4
scikit-learn==1.4.2
datasets==2.14.5
tqdm==4.67.0
numpy==1.26.4
scipy==1.11.4
accelerate==0.27.2
peft==0.11.0
sentencepiece==0.2.0
googletrans==4.0.0rc1
pyarrow>=15.0.0
